{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .container-fluid {
        background-color: #f8d5e0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    .container {
        background: white;
        padding:30px;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
        max-width: 350px;
        text-align: center;
    }
    @media (max-width: 576px) {
        .container {
            height: 75vh;
        }
    }
</style>
<div class="container-fluid">
    <div class="container">
        <div class="image-container">
            <img src="{% static 'images/f2.png' %}" class="img-fluid" alt="" style="background-size: cover;">
        </div>
        <h2>Let's meeting new people around you</h2>
        <a href="#" class="btn btn-primary btn-block mb-2 w-100 d-flex " style="background-color: purple;border-radius: 25px; border: 0;">
            <span class="me-2"><i class="fas fa-phone-volume me-3" style="background-color:rgb(245, 245, 245); border-radius: 50%; padding: 7px; color: purple;"></i></span> Login with Email/Phone
        </a>
        <a href="#" class="btn btn-light btn-block mb-2 w-100 d-flex " style="background-color: rgb(246, 221, 246); border-radius: 25px;">
            <span class="me-2"><img src="{% static 'images/gicon.png' %}" class="me-4" alt="" height="25px" style="background-color: rgb(255, 255, 255); border-radius: 50%; padding: 6px;"></span> Login with Google
        </a>
        <p>Don't have an account? <a href="{% url "signup" %}">Sign Up</a></p>
    </div>
    
</div>
{% endblock content %}
